<div style="align-content: center;margin-left: 541px">
    <button mat-stroked-button routerLink="userlogin">Login</button>
    <!-- <button mat-stroked-button routerLink="mentorlogin">Mentor</button>         -->
</div>

<router-outlet></router-outlet>
<!-- <form (ngSubmit)="Login()" #form1="ngForm" style="margin-left: 515px;margin-top: 28px;">
    <h3 style="margin-left: 52px;">MENTOR SIGNUP</h3>
    <mat-form-field>
        <input type="email" matInput placeholder="Enter Email" name="email1" [(ngModel)]="email" >
    </mat-form-field><br>
    <mat-form-field>
        <input type="password" matInput placeholder="Enter password" name="password1" [(ngModel)]="password">
    </mat-form-field>&nbsp; 
    <div style="align-content: center;margin-left: -5px">
        <button mat-stroked-button>Log In</button>  
    </div>
</form>
<router-outlet></router-outlet>  -->
