<table class="table table-hover" style="color: white;margin-top: 68px;">
    <thead>
        <tr>
            <th>ID</th>
            <th>User ID</th>
            <th>Mentor ID</th>
            <th>Skills ID</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Time Slot</th>
            <th>Status</th>
            <th>Progress</th>
            <th>Rating</th>
            
        </tr>
    </thead>
    <tbody *ngFor="let item of list">
        <tr>
            <td>{{item.trainingId}}</td>
            <td>{{item.userId}}</td>
            <td>{{item.mentorId}}</td>
            <td>{{item.skillId}}</td>
            <td>{{item.startDate}}</td>
            <td>{{item.endDate}}</td>
            <td>{{item.timeslot}}</td>
            <td>{{item.status}}</td>
            <td>{{item.progress}}</td>
            <td>{{item.rating}}</td>
<!--         
            <td><button mat-stroked-button (click)="DeleteMentor(item.mentorId)">Delete</button></td>
            <td><button mat-stroked-button (click)="BlockMentor(item.mentorId)">Block</button></td>
           -->
        </tr>
    </tbody>
</table>

